.inputs {
  display: grid;
  grid-template-columns: 96px 1fr auto;
  grid-auto-rows: 32px;
  align-items: center;
  column-gap: 16px;
}

.colors {
  padding: 12px 0;
}

hr {
  grid-column: 1 / span 3;
  height: 1px;
  border: none;
  background-color: gainsboro;
  width: calc(100% + 24px);
  margin-left: -12px;
}

.buttonsRow {
  display: flex;
  height: 40px;
}

.rowButton {
  cursor: pointer;
  flex-grow: 2;
  font-family: "Recursive", sans-serif;
  border: none;
  background-color: transparent;
  border: 2px solid transparent;
}

.rowButton:hover {
  color: dodgerblue;
}

.rowButton:focus {
  outline: none;
  border: 2px solid dodgerblue;
}
